* {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}

body {
	font-family: 'Anonymous Pro', monospace;
	font-size: 12px !important;
	background-color: #fdf6e3;
	margin: 20px 10%;
	line-height:1.5rem;
	word-wrap: break-word;
}

nav {
	display: inline-block;
	float: left;
}

.header {
	padding-bottom: 20px;
}

.header h1.title {
	display:flex;
	color: DarkGrey;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 24px;
	float: left;
}

.header img.title {
	/*Disable interpolation*/
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated; /* Chrome */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+*/

	/*Drop shadow*/
	-webkit-filter: drop-shadow(1px 1px 1px #808080);
	filter: drop-shadow(1px 1px 1px #808080);
	float: left;
	width: 100px;
}

.icons {
	padding: 0 3em;
	margin: 0 25%;
}

.icons .github-icon {
	display: block;
	width: 24px;
	height: 24px;
	background: url(assets/github.svg);
	background-size: 24px 24px;
	text-indent: -99px;
	float: left;
	margin: 2px;
}

.icons .youtube-icon {
	display: block;
	width: 24px;
	height: 24px;
	background: url(assets/youtube.svg);
	background-size: 24px 24px;
	text-indent: -99px;
	float: left;
	margin: 2px;
}

main {
	display: flex;
	padding: 0 14px;
	border-left: 1px dotted LightGrey;
}

.navigation {
	display: block;
	padding: 10px 10px;
	clear: left;
}

.navigation a {
	cursor: pointer;
	color: #ff2e88;
	text-decoration: none;
}

.navigation a:hover{
	background-color:#ff2e88;
	color:#fdf6e3
}

.content {
	display: block;
}

.content .directory {
	font-size: 12px;
	padding-bottom: 1em;
	color: #ff2e88;
	border-bottom: 1px dotted LightGrey;
}

@media only screen and (max-width: 768px) {
	.header h1.title {
		font-size: 22px;
	}

	.header img.title {
		width: 80px;
	}

	main {
		display: block;
		float: left;
		padding: 0 14px;
		border-left: 0;
	}
}
