* {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}

body {
	font-family: 'Anonymous Pro', monospace;
	font-size: 12px !important;
	background-color: #fdf6e3;
	margin: 20px 15%;
	line-height:1.5rem;
	word-wrap: break-word;
}

img {
	/*Disable interpolation*/
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated; /* Chrome */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+*/
}

nav {
	display: table;
	float: left;
}

.header {
	padding-bottom: 20px;
}

.header h1.title {
	display:flex;
	color: DarkGrey;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	float: left;
}

.header a {
	cursor: default;
	outline: 0;
}

.header img.title {
	/*Drop shadow*/
	-webkit-filter: drop-shadow(1px 1px 1px #808080);
	filter: drop-shadow(1px 1px 1px #808080);
	float: left;
	width: 70px;
}

.icons {
	display: table;
	margin: 0 auto;
}

.icons .github-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(assets/github.svg);
	background-size: 20px 20px;
	text-indent: -99px;
	margin: 2px;
}

.icons .youtube-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(assets/youtube.svg);
	background-size: 20px 20px;
	text-indent: -99px;
	margin: 2px;
}

main {
	display: flex;
	flex-wrap: wrap;
	padding-left: 14px;
	border-left: 1px dotted LightGrey;
}

.navigation {
	display: table;
	padding: 10px 14px;
	clear: left;
}

.navigation a {
	display: inline-block;
	outline: 0;
	cursor: pointer;
	color: #ff2e88;
	margin-left: 4ch;
	text-decoration: none;
}

.navigation a:hover span{
	background-color:#ff2e88;
	color:#fdf6e3
}

.directory {
	display: block;
	float: left;
	width: 100%;
	border-bottom: 1px dotted LightGrey;
}

.directory p {
	color: #ff2e88;
}

.content {
	display: block;
	float: left;
	width: 100%;
}

.content .image-container {
	display: table;
	margin: 0 auto;
}

.content img {
	-webkit-filter: drop-shadow(1px 1px 1px #808080);
	filter: drop-shadow(1px 1px 1px #808080);
	max-width: 100%;
	height: auto;
	padding: 8px;
}

@media only screen and (max-width: 768px) {
	body {
		margin: 20px 10%;
	}

	nav {
		float: none;
		margin: 0 auto;
	}

	.header h1.title {
		font-size: 18px;
	}

	.header img.title {
		width: 70px;
	}

	.navigation {
		margin: 0 auto;
	}

	main {
		display: block;
		width: 100%;
		border-left: 0;
	}
}

@media only screen and (max-width: 304px) {
	.header h1.title {
		font-size: 16px;
	}

	.header img.title {
		width: 60px;
	}
}
